@import url('https://fonts.googleapis.com/css2?family=Share+Tech:wght@400;700&display=swap');

body {
	font-family: 'Share Tech', sans;
}

#splash {
    z-index: 1;
    background-image: url("../img/splash.png");
    background-size: auto 100%;
    background-repeat: no-repeat;
    width: 80%;
    aspect-ratio: 16/9;
    display: inherit;
    border: 3px solid black;
}

#splash p {
    position: absolute;
    bottom: 0;
    width: 100%;
    text-align: center;
    font-size: xx-large;
}

#background {
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);
    width: 95%;
}

.scene {
    z-index: -1;
    width: 130%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);
    display: none;
}

#scene {
    z-index: -2;
    display: inherit;
}

#narrative {
    background-image: url("../img/screen.png");
    background-size: 100% auto;
    background-repeat: no-repeat;
    width: 500px;
    aspect-ratio: 16/9;
    overflow: hidden;
    position: absolute;
    color: lightgray;
    /* bottom: 1vh; */
    /* top: 75%; */
    top: 80%;
    /*
    left: 20%;
    -moz-transform: translateX(-50%) translateY(-50%);
    -webkit-transform: translateX(-50%) translateY(-50%);
    transform: translateX(-50%) translateY(-50%); */
}

#narrative p {
    margin: 30px 50px;
}

#balance {
    position: relative;
    float: right;
    top: 20%;
    right: 0;
    /* right: -20%; */
    width: 10%;
}

#balance div {
    width: 100%;
    aspect-ratio: 1/1;
}

#balance img {
	width: 100%;
}

#card_space {
    /* background-image: url("../img/screen.png"); */
    background-size: 100% auto;
    background-repeat: no-repeat;
    border-image-source: url("../img/screen.png");
    border-image-slice: 65 118 63 112 fill;
    border-width: 30px 70px;
    border-color: transparent;
    border-style: solid;
    /* padding: 15px; */
    /* border-image-width: 30; */
    width: 900px;
    /* aspect-ratio: 16/9; */
    height: 500px;
    overflow: hidden;
    position: absolute;
    margin-top: 8%;    
}

#card_behind,
.swipe {
	/* left: 36%; */
	/* bottom: 40%;
    zoom: 0.75; */
    aspect-ratio: 16/9;
}

