#page {
    /* position: absolute !important; */
    top: 40% !important;
    left: 50% !important;
    -moz-transform: translateX(-50%) translateY(-50%) !important;
    -webkit-transform: translateX(-50%) translateY(-50%) !important;
    transform: translateX(-50%) translateY(-50%) !important;
    width: 95% !important;
}

.card {
	max-height: 600px;
	aspect-ratio: 16/9;
}

#card_behind,
.swipe {
	/* margin-left: auto; */
	/* margin-right: auto; */
	/* top: 9%; */
    margin: 16px 44px 12px -4px;
}

/* 1680	945 */